# Node
node_modules/
dist/
build/
.next/

# Java/Spring/Maven
target/
*.jar
*.war
.mvn/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.pkl
ml-service/data/

# IDE
.idea/
.vscode/
*.swp
.DS_Store
